<!-- SCHERMATA CONTATTI -->
<section class="jumbotron" id="contact">
    <h1 class="display-4">Contatti</h1>
    <div class="row justify-content-around">

        <!-- PRIMO UTENTE -->
        <div class="col-md-5">
            <p class="lead"><b><h2>Daniele Vallorani</h2></b>
            <i class="fas fa-user-tie"></i> Sviluppatore Applicazione<br>
            <i class="fas fa-map-marker-alt"></i> San Benedetto del Tronto<br>
            <i class="fas fa-envelope"></i> <a href="mailto:daniele.vallorani@studenti.unicam.it"><em>daniele.vallorani@studenti.unicam.it</em></a><br>
            <i class="fas fa-phone"></i> +39 333 4455666</p>
        </div>

        <!-- SECONDO UTENTE -->
        <div class="col-md-5">
            <p class="lead"><b><h2>Pippo Pluto</h2></b>
            <i class="fas fa-user-tie"></i> Area Marketing<br>
            <i class="fas fa-map-marker-alt"></i> Camerino<br>
            <i class="fas fa-envelope"></i> <a href="mailto:pippo.pluto@studenti.unicam.it"><em>pippo.pluto@studenti.unicam.it</em></a><br>
            <i class="fas fa-phone"></i> +39 111 2233444</p>
        </div>

    </div>
</section>