<!-- VISUALIZZA APPUNTO -->
<div class="col-md-4 mx-auto">
  <div class="card">
    <div class="card-body">
      <form action="/notes/view-note/{{note._id}}">

      <!-- TITOLO -->
      <h4 class="card-header"> {{ note.title }} </h4>

      <!-- DESCRIZIONE -->
      <p class="card-text">{{ note.description }} </p>

      <!-- PULSANTI -->
      <button type="button" onClick="window.print()" class="btn btn-primary">Stampa</button>
      <button type="button" onClick="emailCurrentPage()" class="btn btn-secondary">E-mail</button>
      
      </form>
    </div>
  </div>
</div>