<!-- REGISTRAZIONE UTENTE -->
<div class="row">
  <div class="col-md-4 mx-auto">
    <div class="card mt-4">
      <div class="card-body">
      <div class="card-header"><h4>Registra un account</h4></div>
      <img class="rounded-circle mx-auto d-block logo m-4" src="/img/logo.png" alt="Logo">
        <form action="/users/signup" method="POST">
          <!-- NOME -->
          <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Nome" value="{{name}}">
          </div>
          <!-- EMAIL -->
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value="{{email}}">
          </div>
          <!-- PASSWORD -->
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" value="{{password}}">
          </div>
          <!-- CONFERMA PASSWORD -->
          <div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Conferma Password" value="{{confirm_password}}">
          </div>
          <button class="btn btn-primary btn-block">Registrati</button>
        </form>
      </div>
    </div>
  </div>
</div>
